<!--item -->

<div class="row p-3 d-flex">
    <div class="col-md-2 p-0 justify-content-center text-center">
      <img class="item-logo" src="{{ portfolioItem.logo }}" alt="logo" height="90" width="90" />
    </div>
  
    <div class="col-md-8 p-0">
 
        <h4>{{ portfolioItem.nombre }} 
        </h4>
        <p>{{ portfolioItem.descripcion }}</p>
        <p><a href="{{portfolioItem.enlace}}" target="_blank">{{ portfolioItem.enlace}}</a></p>
  
    </div>
   
  
    <div *ngIf="authService.isLoggedIn" class="col-md-2 pe-3 pt-3 edicion-items">
      <div class="btn-edit">
         <app-proyectos-update-form
        ngbTooltip="Editar ítem"
          [portfolioItemUpdate]="portfolioItem"
          (onUpdateItem)="onUpdate($event)"
          
        ></app-proyectos-update-form>
        
        <button
        ngbTooltip="Borrar ítem"
        class="pointer miboton-der"
        (click)="onDelete(portfolioItem)"
      >
        &nbsp;<i class="fa fa-trash"></i>&nbsp;
      </button>
      </div>
    </div>
  
  </div>
<!--fin item -->