<div class="header">
  <!-- banner -->
  <div class="row" id="encabezado">
    <img src="{{miPortfolio.banner}}" />
  </div>

  <!-- una fila para foto y sobre mí -->
  <div class="row border p-0 m-0 border-0 border-secondary">
    <!-- dos columnas, una para la foto otra para el sobre mi  -->
    <!-- columna para la foto -->
    <div class="border-1 col-sm-4 border-primary ps-3">
      <div style="display: block; text-align: center">
        <img id="profile-photo" height="150" width="150" src="{{ miPortfolio.foto }}" alt="foto de perfil" />
        <h2>{{ miPortfolio.nombre }}</h2>
        <h5>{{ miPortfolio.titulo }}</h5>
        <p style="margin-bottom: 7px">
          {{ miPortfolio.ubicacion }} </p>
        <p> {{ miPortfolio.mail }}
        </p>
      </div>
    </div>

    <!-- columna para el sobre mi -->
    <div class="border border-0 col p-4 pb-3 align-self-center">
      <div class="card mat-card p-4 pb-2 bloque">
        <div class="card card-title border-0 d-flex justify-content-between">

          <h3>¡Hola! <span id="smile">=)</span></h3>

        </div>
        <div>
          <p id="text-sobremi">{{ miPortfolio.descripcion }}</p>
        </div>
      </div>

      <div *ngIf="authService.isLoggedIn" id="edicion-header">

        <button type="button" (click)="restaurar()" class="btn btn-sm btn-primary rounded-pill">&nbsp;<i
            class="fa fa-undo"></i>&nbsp;&nbsp;Restaurar&nbsp;</button>&nbsp;
        <app-header-update-form [portfolioItemUpdate]="miPortfolio" (onUpdateItem)="onUpdate($event)">
        </app-header-update-form>
      </div>

    </div>


  </div>
</div>