<ng-template #modalAddPortfolio let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Idiomas</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form #form="ngForm">
      <div class="containter">
        <div class="row">
          <div class="col-md-6 p-2">
            <label for="idTitulo">Nombre:</label>
            <input
              [(ngModel)]="portfolioNewItem.nombre"
              required
              type="text"
              name="nombre"
              class="form-control"
              #n="ngModel"
              minlength="4"
              maxlength="255"
            />

            <div *ngIf="n.invalid && (n.dirty || n.touched)" class="form-error">
              <div *ngIf="n.errors?.['required']">Ingresar nombre.</div>
              <div *ngIf="n.errors?.['minlength']">
                El nombre debe tener al menos 4 caracteres.
              </div>
            </div>
          </div>

          <div class="col-md-6 p-2">
            <label for="idDescripcion">Descripción:</label>
            <input
              [(ngModel)]="portfolioNewItem.descripcion"
              required
              type="text"
              name="descripcion"
              class="form-control"
              #d="ngModel"
              minlength="4"
              maxlength="255"
            />

            <div *ngIf="d.invalid && (d.dirty || d.touched)" class="form-error">
              <div *ngIf="d.errors?.['required']">Ingresar texto.</div>
              <div *ngIf="d.errors?.['minlength']">
                El texto debe tener al menos 4 caracteres.
              </div>
            </div>
          </div>

          <div class="col-md-12 p-2">
            <label for="idLogo">Enlace a la imagen del idioma:</label>
            <input
              class="form-control"
              name="foto"
              type="text"
              required
              placeholder="https://"
              [(ngModel)]="portfolioNewItem.logo"
              #ip="ngModel"
              minlength="4"
              maxlength="255"
              pattern="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$"
            />

            <div
              *ngIf="ip.invalid && (ip.dirty || ip.touched)"
              class="form-error"
            >
              <div *ngIf="ip.errors?.['required']">Ingresar un enlace.</div>
              <div *ngIf="ip.errors?.['minlength']">
                El enlace debe tener al menos 4 caracteres.
              </div>
              <div *ngIf="ip.errors?.['pattern']">
                Ingresar una dirección de enlace válida (https://...)
              </div>
            </div>
          </div>

          <div class="col-md-12 p-2 imagen-item-upload"  >
            <img
            
              alt="Imagen de idioma"
              src="{{ portfolioNewItem.logo }}"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer d-flex justify-content-center">
    <button
      [disabled]="form.invalid"
      type="button"
      class="btn btn-primary"
      (click)="addItem()"
    >
      Guardar
    </button>
    <button type="button" class="btn btn-primary" (click)="cancelAddItem()">
      Cancelar
    </button>
  </div>
</ng-template>

<!--   <span (click)="open(modalAddPortfolio)" class="pointer">
    <i class="fa fa-plus"></i>2</span
  > -->
&nbsp;<button
  type="button"
  (click)="open(modalAddPortfolio)"
  class="btn btn-sm btn-primary rounded-pill"
>
  &nbsp;<i class="fa fa-plus"></i>&nbsp;&nbsp;Agregar&nbsp;</button
>&nbsp;
