<app-navbar>Cargando...</app-navbar>

<div class="container border-0 p-5 border-warning " id="principal-container">
  <div class="row justify-content-center">
    <div class="col"></div>
  </div>

  <div class="row  justify-content-center">
    <div class="col app-bloque">
      <app-header>Cargando...</app-header>
    </div>
  </div>

  <div class="row  justify-content-center ">
    <div class="col app-bloque">
      <div class="p-3"></div>
      <app-educacion>Cargando...</app-educacion>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col app-bloque">
      <div class="p-3"></div>
      <app-trabajo>Cargando...</app-trabajo>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col app-bloque">
      <div class="p-3"></div>
      <app-proyectos>Cargando...</app-proyectos>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col app-bloque">
      <div class="p-3"></div>
      <app-idiomas>Cargando...</app-idiomas>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col app-bloque">
      <div class="p-3"></div>
      <app-skills>Cargando...</app-skills>
    </div>
  </div>


</div>

<app-footer>Cargando...</app-footer>