<!-- https://www.tiagoalmeida.dev/posts/making-a-pure-css-circular-progress-bar.html -->
<!-- lo de {{masde50}} pone "over50" cuando corresponde por el valor, sino nada -->

<div class="col  ">
  <div class="row justify-content-center">

    <div class="progress-circle {{ masde50 }} p{{ portfolioItem.valor }}">
      <span><img height="60" width="60" src="{{ portfolioItem.logo }}" /></span>
      <div class="left-half-clipper">
        <div class="first50-bar"></div>
        <div class="value-bar"></div>
      </div>
    </div>
    <div id="skill-item">
      <h5>{{ portfolioItem.nombre }}</h5>
      <div *ngIf="authService.isLoggedIn" class="btn-edit edicion-skills">
        <app-skills-update-form ngbTooltip="Editar ítem" [portfolioItemUpdate]="portfolioItem"
          (onUpdateItem)="onUpdate($event)"></app-skills-update-form>

        <button ngbTooltip="Borrar ítem" class="pointer miboton-der" (click)="onDelete(portfolioItem)">
          &nbsp;<i class="fa fa-trash"></i>&nbsp;
        </button>
      </div>
    </div>
  </div>
</div>